<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{ partial "common-head.html" . }}
</head>
<body>

{{ partial "menu.html" . }}

<div class="header">
  <img class="desktop-image" src="{{ .Site.BaseURL }}img/{{ .Params.image }}" />
  <div class="mobile-image" style="background-image: url({{ .Site.BaseURL }}img/{{ .Params.image }});"></div>
  <div class="header-content">
    <div>
      <h1>{{ .Title }}</h1>
      <div class="subtitle">
        {{ .Params.subtitle }}
      </div>
    </div>
  </div>
</div>

<div class="container-fluid detail-container">

