<div class="footer">
  <ul class="footer-menu">
  {{ $baseUrl := .Site.BaseURL }}
    <li><a href="{{ $baseUrl }}#block_About">About</a></li>
    <li><a href="{{ $baseUrl }}#block_Get Involved">Get Involved</a></li>
    <li><a href="{{ $baseUrl }}/messages">Messages</a></li>
    <li><a href="https://arborchurch.churchcenteronline.com/giving?open-in-church-center-modal=true">Give</a></li>
  </ul>
{{ partial "social-buttons.html" . }}
</div>
</div> <!-- COVID_19 -->
</body>
{{ partial "script-libraries.html" . }}
</html>

