<div class="footer">
  <ul class="footer-menu">
  {{ $baseUrl := .Site.BaseURL }}
  {{ range .Site.Menus.main }}
    <li><a href="{{ $baseUrl }}#{{.Name}}">{{ .Name }}</a></li>
  {{ end }}
  </ul>
  <a href="mailto:info@arborchurchnw.org"><img src="{{ .Site.BaseURL }}img/social-mail.png"></i></a>
  <a href="https://www.facebook.com/arborchurchnw/"><img src="{{ .Site.BaseURL }}img/social-facebook.png" /></i></a>
  <a href="https://www.twitter.com/arborchurchnw/"><img src="{{ .Site.BaseURL }}img/social-twitter.png" /></i></a>
 <a href="https://www.instagram.com/arborchurchnw/"><img src="{{ .Site.BaseURL }}img/social-instagram.png" /></i></a>

 <div class="copyright">
   Copyright &copy; 2017 Arbor Church.
 </div>
</div>
</body>
<script src="{{ .Site.BaseURL }}js/zenscroll-min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>

