<div class="shadowed">
  <div class="widget">
    <iframe src="https://embed.restream.io/player/index.html?token=bd58ab9429c90295042d16185dbfbf2d" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="announcement">

    So glad you're joining us this morning! Please fill out your <a href="https://arborchurch.churchcenter.com/people/forms/109812" >CONNECTION CARD</a>. <br/>

    Here are some additional resources to watch with your kids. (<a href="https://youtu.be/3ojLcyKEHaw">PRESCHOOL</a> / <a href="https://youtu.be/iiInjD0Wr5Q">ELEMENTARY</a>) <br />

    If you'd like to help those impacted by COVID-19, please text a dollar amount to 84321.
  </div>
</div>