<div class="visible-sm-block visible-md-block visible-lg-block" style="position: relative; background-color: #a0a0a0; height: 40px; color: white; width: 100%; font-size: 18px; font-family: Montserrat;">
  <div style="display: flex; align-items: center; justify-content: center; height: 100%;">
    <div style="overflow: hidden;">
    Arbor News
    <a href="/covid-19/" style="color: #a0a0a0; border-radius: 10px; margin-left: 20px; background-color: white; padding-left: 10px; padding-right: 10px;">
      READ MORE
    </a>
    </div>
  </div>
</div>
<div style="position: relative;"> <!-- COVID_19 -->

<div class="image-shader"></div>

<div class="home-logo {{ .Params.logostyle }}">
  <a href="{{ .Site.BaseURL }}">
    <img src="{{ .Site.BaseURL }}img/arbor-logo-menu.png" />
  </a>
  <div class="find-us visible-xs-block visible-md-block visible-lg-block">
    SUNDAYS at 9:30am
  </div>
</div>

<div class="navigation {{ .Params.menustyle }}">
  <div id="nav-menu">
    <ul class="menu">
    {{ $currentNode := . }}
    {{ $baseUrl := .Site.BaseURL }}
    {{ range .Site.Menus.main }}
      <li class="menu-hover" id="menu_{{ .Name }}">
        {{ if (lt .Weight 100) }}
        <a href="javascript:navigate_to('{{.Name}}');">
          {{ .Name }}
          <div class="expand-arrow"></div>
        </a>
        {{ else if (lt .Weight 200) }}
        <a href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ else }}
        <a href="{{ .URL }}" target="_blank">
          {{ .Name }}
        </a>
        {{ end }}
      {{ if .HasChildren }}
        <ul class="sub-menu">
        {{ range .Children }}
          <li><a href="{{.URL}}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      {{ end }}
      </li>
    {{ end }}
    <li>
      <div class="visible-xs-block"> 
          <a href="/covid-19/">Arbor News</a>
      </div>
    </li>
    </ul>
    <div class="menu-logo">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}img/arbor-mobile-logo.png" />
      </a>
    </div>
    <div class="hamburger" onClick="return toggle_main_menu();">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </label>
  </div>
</div>
