<div class="image-shader"></div>

<div class="home-logo {{ .Params.logostyle }}">
  <a href="{{ .Site.BaseURL }}">
    <img src="{{ .Site.BaseURL }}img/arbor-logo-menu.png" />
  </a>
  <div class="find-us">
    SUNDAYS at 9 & 11am 
    <span class="directions visible-lg-inline visible-md-inline">
      &nbsp; | &nbsp;
      <a href="https://www.google.com/maps/place/19011+Woodinville+Snohomish+Rd,+Woodinville,+WA+98072/@47.7657651,-122.1576943,17z/data=!3m1!4b1!4m5!3m4!1s0x54900e9a33e7f0d3:0x2d8ffaf8fde7a709!8m2!3d47.7657651!4d-122.1555003">DIRECTIONS</a>
    </span>
  </div>
</div>

<div class="navigation {{ .Params.menustyle }}">
  <div id="nav-menu">
    <ul class="menu">
    {{ $currentNode := . }}
    {{ $baseUrl := .Site.BaseURL }}
    {{ range .Site.Menus.main }}
      <li class="menu-hover" id="menu_{{ .Name }}">
        {{ if (lt .Weight 100) }}
        <a href="javascript:navigate_to('{{.Name}}');">
          {{ .Name }}
          <div class="expand-arrow"></div>
        </a>
        {{ else if (lt .Weight 200) }}
        <a href="{{ .URL }}">
          {{ .Name }}
        </a>
        {{ else }}
        <a href="{{ .URL }}" target="_blank">
          {{ .Name }}
        </a>
        {{ end }}
      {{ if .HasChildren }}
        <ul class="sub-menu">
        {{ range .Children }}
          <li><a href="{{.URL}}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
      {{ end }}
      </li>
    {{ end }}
    </ul>
    <div class="menu-logo">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}img/arbor-mobile-logo.png" />
      </a>
    </div>
    <div class="hamburger" onClick="return toggle_main_menu();">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </label>
  </div>
</div>