
<div class="podcast-links">
    Listen to the Arbor Church podcast on 
      <a href="https://podcasts.apple.com/us/podcast/arbor-church/id1204135740" target="_blank">Apple Podcasts <span class="glyphicon glyphicon-new-window"></span></a>,
      <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5mZWVkYnVybmVyLmNvbS9BcmJvckNodXJjaA" target="_blank">Google Podcasts <span class="glyphicon glyphicon-new-window"></span></a>, 
      <a href="https://www.youtube.com/channel/UCRe_QiHhuGwlIY43ECFopNQ" target="_blank">YouTube <span class="glyphicon glyphicon-new-window"></span></a>, and
      <a href="https://open.spotify.com/show/51jW58EPGx827N9UdQIYeh" target="_blank">Spotify <span class="glyphicon glyphicon-new-window"></span></a>.
</div>