<img src="{{ .Site.BaseURL }}img/social-mail-on.png" style="display: none;" />
<img src="{{ .Site.BaseURL }}img/social-facebook-on.png" style="display: none;" />
<img src="{{ .Site.BaseURL }}img/social-instagram-on.png" style="display: none;" />
<a class="social social-mail" href="mailto:info@arborchurch.com"></a>
<a class="social social-facebook" href="https://www.facebook.com/arborchurchnw/"></a>
<a class="social social-instagram" href="https://www.instagram.com/arborchurchnw/"></a>

<div class="copyright">
  Copyright &copy; 2021 Arbor Church.
</div>
