body {
  background: url(/img/arbor-path-full.jpg) no-repeat;
  background-size: contain;
  background-color: rgba(61, 61, 61, 1.0);
  font-family: sans-serif;
}

h1, h2 {
  text-shadow: 0px 0px 10px #000000;
  color: white;
}

.announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.details {
  padding-bottom: 5rem;
}

.announcement .details {
  align-self: flex-end;
}

.block {
  height: 10rem;
}

.details, .details a {
  color: white;
  font-size: 3rem;
}

/* "hamburger" menu */
.navigation {
  position: absolute;
  right: 20px;
  color: white;
}

.navigation a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.hamburger {
  cursor: pointer;
}

ul.menu {
  text-transform: uppercase;
}

ul.menu li {
  display: inline;
  list-style-type: none;
  padding-left: 1em;
}

.mast {
  width: 250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  display: block;
}

/* mobile */
@media screen and (max-width: 500px)  {
  ul.menu {
    display: none;
  }
}

/* desktop */ 
@media screen and (min-width: 500px) {
  .navigation .hamburger {
    display: none;
  }

  ul.menu ul {
    display: none;
  }
}


