@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-ExtraLight-webfont.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-Regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url('fonts/Montserrat-Bold-webfont.woff') format('woff');
  font-weight: 700;
}

body {
  background-color: white;
  font-family: Baskerville, Libre Baskerville, serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: #303030;
}

h1, h2 {
  font-family: Montserrat;
}

a:hover {
  text-decoration: none;
}

.splash {
  background-color: #515151;
  background-image: url(../img/arbor-mast.jpg);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

.home-logo, .menu-logo {
  position: absolute;
  top: 20px;
  left: 60px;
}

.home-logo img, .menu-logo img {
  width: 38px;
}

.menu-logo {
  display: none;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.footer a {
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}

.footer a.social {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer a.social-facebook {
  background-image: url(../img/social-facebook.png);
}

.footer a.social-facebook:hover {
  background-image: url(../img/social-facebook-on.png);
}

.footer a.social-twitter {
  background-image: url(../img/social-twitter.png);
}

.footer a.social-twitter:hover {
  background-image: url(../img/social-twitter-on.png);
}

.footer a.social-mail {
  background-image: url(../img/social-mail.png);
}

.footer a.social-mail:hover {
  background-image: url(../img/social-mail-on.png);
}

.footer a.social-instagram {
  background-image: url(../img/social-instagram.png);
}

.footer a.social-instagram:hover {
  background-image: url(../img/social-instagram-on.png);
}

.footer .copyright {
  font-family: Montserrat;
  font-size: 10px;
  margin-top: 2em;
}

.block {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 35vh;
  letter-spacing: 0.2em;
}

.block h1 {
  text-transform: lowercase;
  font-size: 60pt;
  margin-bottom: 0;
  color: white;
}

.block h1 {
  text-align: center;
}

.block h2 {
  font-family: Baskerville, Libre Baskerville;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 20pt;
  margin-top: 0;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: lowercase;
}

.page-buttons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
  word-wrap: none;
}

.page-buttons a, a.email-link, a.page-button {
  position: relative;
  top: 0px;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: 7px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border-top: 6px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  display: inline-block;
  width: 12em;
}

.summary a.email-link {
  position: absolute;
  display: block;
  text-align: center;
  left: 30px;
  top: auto;
  bottom: 0px;
  margin: 0px;
  width: 12em;
  font-size: 13px;
}

.page-buttons .separator {
  width: 28px;
}

.footer, .footer a {
  font-family: sans-serif;
  color: #949494;
}

/* "hamburger" menu */
#nav-menu {
  font-family: Montserrat;
  font-size: 14px;
  position: absolute;
  right: 60px;
  top: 20px;
  color: white;
}

#nav-menu img {
  vertical-align: baseline;
}

#nav-menu a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.hamburger {
  position: fixed; 
  right: 20px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
  width: 30px;
  z-index: 2;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: white;
}

ul.menu > li > a {
  text-transform: uppercase;
  margin: 0px;
}

ul.menu {
  position: relative;
}

ul.menu li {
  position: relative;
  display: inline;
  list-style-type: none;
  padding-left: 1em;
}

.mast {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100vh;
  width: 360px;
  padding-bottom: 8rem;
  letter-spacing: 0.15em;
}

.mast img {
  width: 360px;
  height: auto;
  margin-bottom: 2rem;
}

.mast h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 200;
}

.mast a {
  font-family: Montserrat;
  text-decoration: none;
  color: white;
}

.mast .service-info {
  position: relative;
  border-top: 6px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------------- */
/* detail pages 
/* ------------------------------------------------------------------------- */

.summary {
  border-left: 4px solid black;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}

.summary h3 {
  font-style: italic;
}


.header {
  height: 500px;
  text-align: center;
  margin-bottom: 50px;
  z-index: -1;
  background-position: center 0px;
}

.header h1 {
  text-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  margin: 0px;
  font-size: 50pt;
  padding-top: 150px;
  color: white;
  text-transform: lowercase;
}

.header .subtitle {
  font-style: italic;
  color: white;
  font-size: 20pt;
  text-transform: lowercase;
}

.detail {
  margin-bottom: 20px;
}

.detail-container h1 {
  text-align: center;
  font-family: Baskerville, Libre Baskerville, serif;
  letter-spacing: 0.2em;
  font-style: italic;
}

.detail-container .text-center {
  font-family: Montserrat;
  font-weight: 300;
}

.detail .photo, .header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-left: -15px;
}

.detail .content {
  padding-bottom: 20px;
}

.detail .email-link, a.page-button {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 4px solid black;
  text-transform: uppercase;
  padding: 5px;
  color: #404040;
}

ul.footer-menu {
  text-transform: uppercase;
  margin-bottom: 2em;
  margin-left: 0px;
  padding-left: 0px;
}

ul.footer-menu li {
  list-style-type: none;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 14px;
}

/* menu */
.expand-arrow {
  display: inline-block;
  background-position: center;
  background-size: contain;
}

ul.menu li {
  padding-left: 0px;
}

ul.menu ul {
  padding-top: 20px;
  padding-bottom: 0px;
  display: none;
  overflow: hidden;
}

ul.menu li.open ul {
  display: block;
}

.menu-background {
  background-color: #83BA23;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  display: none;
}

.detail-notice {
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 20px;
  font-size: 16px;
}

/* beliefs page */

.belief-header {
  padding-top: 30px;
  text-align: center;
  font-size: 20pt;
  font-style: italic;
}

.belief-verses {
  font-family: Baskerville, Libre Baskerville, serif;
  margin-top: 1em;
  color: #909090;
  font-style: italic;
}

.belief-body {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12pt;
  border-left: 4px solid black;
  margin-bottom: 50px;
}

/* mobile */
@media screen and (max-width: 768px) {
  ul.menu {
    display: none;
    padding-top: 6rem;
    padding-left: 20px;
    background-color: #f5f5f5;
    color: #404040;
    font-size: 25px;
  }

  .home-logo, .menu-logo {
    position: fixed;
  }
  
  #nav-menu a {
    color: #404040;
    display: block;
  }

  #nav-menu li.open > a {
    color: #83BA23;
  }

  ul.menu ul {
    margin-left: 0px;
    padding-left: 0px;
    font-size: 20px;
  }

  #nav-menu > ul > li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #404040;
    margin-left: 0px;
    padding-left: 20px;
    margin-right: 10px;
  }

  #nav-menu .expand-arrow {
    vertical-align: top;
    position: absolute;
    right: 2px;
    margin-top: 5px;
  }

  li .expand-arrow {
    background-image: url(../img/mobile-menu-contracted.png);
    width: 25px;
    height: 25px;
  }

  li.open .expand-arrow {
    background-image: url(../img/mobile-menu-expanded.png);
  }

  #nav-menu.open {
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }

  #nav-menu.open ul.menu {
    display: block;
    position: fixed; 
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0;
    padding-left: 0;
    z-index: 1;
  }

  #nav-menu.open .menu-logo {
    display: block;
    z-index: 2;
  }

  #nav-menu.open .hamburger {
    color: #404040;
  }

  #nav-menu.open .hamburger .line {
    background-color: #83BA23;
  }

  ul.menu li {
    display: block;
    margin-bottom: 1rem;
  }

  ul.menu li a {
    color: #204020;
  }

  .detail .photo {
    height: 400px;
  }

  .page-buttons .separator {
    display: none;
  }

  .home-logo, .menu-logo {
    top: 20px;
    left: 20px;
  }
  
  .summary {
    margin-top: 10px;
    padding-left: 10px;
  }

  .summary h2 {
    margin-top: 0px;
  }

  .summary a.email-link {
    position: relative;
    top: 0px;
    left: 0px;
  }
}

/* desktop */ 
@media screen and (min-width: 768px) {

  li .expand-arrow {
    background-image: url(../img/desktop-menu-contracted.png);
    width: 10px;
    height: 10px;
  }

  li.open .expand-arrow {
    background-image: url(../img/desktop-menu-expanded.png);
  }

  ul.menu li {
    padding-left: 16px;
  }

  ul.menu ul li {
    padding-left: 0px;
  }

  ul.menu li.open {
    background-color: white;
  }

  #nav-menu ul.menu li.open a {
    color: #808080;
  }

  #nav-menu ul.menu li.open ul a {
    background-color: white;
    transition: background-color 0.5s linear;
    display: block;
    background-color: white;
    color: #808080;
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 3px;
    font-size: 12px;
  }

  #nav-menu ul.menu li.open ul a:hover {
    color: white;
    background-color: #000000;
    transition: background-color 0.5s linear;
  }

  #nav-menu ul.menu li.open ul li:hover a {
    color: white;
  }

  ul.menu li.open ul {
    position: absolute;
    top: 1.3em;
    left: 0px;
    width: 100%;
    padding-left: 0px;
    padding-top: 0;
  }

  ul.menu li.open ul li {
    display: block;
  }

  .navigation .hamburger {
    display: none;
  }

  .desktop-expand {
    display: inline;
  }

  .detail .photo, .detail .summary {
    height: 400px;
  }
}


