{{ partial "header.html" . }}

<div class="splash">
  <div class="mast">
    <img src="img/arbor-logo-landing.png" />
    <div class="service-info">
      <h1>Sundays 10am</h1>
      <a href="https://www.google.com/maps/place/19011+Woodinville+Snohomish+Rd,+Woodinville,+WA+98072/@47.7657651,-122.1576943,17z/data=!3m1!4b1!4m5!3m4!1s0x54900e9a33e7f0d3:0x2d8ffaf8fde7a709!8m2!3d47.7657651!4d-122.1555003">19011 Woodinville-Snohomish Rd.</a>
    </div>
  </div>
</div>

{{ range .Data.Pages }}
  {{ if eq .Type "block" }}
  <div id="{{ .Title }}" class="block" style="background-image: url(img/{{ .Params.image }});">
    <h1>{{ .Title }}</h1>
    <h2>{{ .Params.tagline }}</h2>
    {{ .Content }}
  </div>
  {{ end }} 
{{ end }}

{{ partial "footer.html" . }}
