
{{ partial "content-header.html" . }}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="detail-notice">
      Here are a few great places to jump in and serve around Arbor. If any of these sound like you, simply email the contact below each team. If you desire a little more info... e-mail Alison at <a href="mailto:alison@arborchurchnw.org">alison@arborchurchnw.org</a>. She'd love to help you discover the best fit for you and the skill set God has given you.
    </div>
  </div>
</div>

{{ range .Data.Pages }}
  {{ .Render "single" }}
{{ end }}

{{ partial "content-footer.html" . }}

