
{{ partial "content-header.html" . }}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="detail-notice">
 God desires that we would be close to Him. He loves our participation and has uniquely shaped us to help in what He’s doing… MAKING DISCIPLES. Our preference is to do it together! Below are a few teams you can join to help further that mission.

If any of them interest you, simply email the contact below each team. If you desire a little more info, feel free to reach out to Alison <a href="mailto:alison@arborchurch.com">alison@arborchurchnw.org</a>. She'd love to help you discover the best fit for you and the skill set God has given you.
    </div>
  </div>
</div>

{{ range .Data.Pages }}
  {{ .Render "single" }}
{{ end }}

{{ partial "content-footer.html" . }}

