$body-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif;
$header-font: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif;
  
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

@font-face {
  font-family: "Montserrat";
  src: url('../css/fonts/Montserrat-ExtraLight-webfont.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url('../css/fonts/Montserrat-Regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url('../css/fonts/Montserrat-Bold-webfont.woff') format('woff');
  font-weight: 700;
}

body {
  background-color: white;
  font-family: $body-font;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: #303030;
}

h1, h2 {
  font-family: $header-font;
  font-weight: bold;
}

h2.header-link a {
  color: #101010;
}

audio {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.splash {
  width: 100%; 
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

p.lead {
  font-weight: light;
  font-size: small;
  letter-spacing: 1.5px;
  color: #404040;
  text-transform: uppercase;
}

.splash video {
  width: 100%; 
  height: auto; 
  background-color: #606060;
  display: block;
}

.home-logo, .menu-logo {
  position: absolute;
  top: 20px;
  left: 60px;
}

.home-logo img, .menu-logo img {
  width: 38px;
}

.menu-logo {
  display: none;
}

.splash-footer {
  margin-bottom: 30px;
}

.splash-footer p {
  font-family: $header-font;
  font-weight: 300;
  font-size: 18px;
}

.splash-footer a {
   color: black;
}

.footer {
  margin-top: 8rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #efefef;
}

.footer a {
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}

.footer a.social {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer a.social-facebook {
  background-image: url(../img/social-facebook.png);
}

.footer a.social-facebook:hover {
  background-image: url(../img/social-facebook-on.png);
}

.footer a.social-twitter {
  background-image: url(../img/social-twitter.png);
}

.footer a.social-twitter:hover {
  background-image: url(../img/social-twitter-on.png);
}

.footer a.social-mail {
  background-image: url(../img/social-mail.png);
}

.footer a.social-mail:hover {
  background-image: url(../img/social-mail-on.png);
}

.footer a.social-instagram {
  background-image: url(../img/social-instagram.png);
}

.footer a.social-instagram:hover {
  background-image: url(../img/social-instagram-on.png);
}

.footer .copyright {
  font-family: $header-font;
  font-size: 10px;
  margin-top: 2em;
}

.footer p {
  font-size: 14px;
}

.footer h5 {
  font-family: $header-font;
  font-size: 25px;
  font-weight: bold;
}

.block {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 35vh;
  letter-spacing: 0.2em;
}

.block.notitle {
  display: flex;
  align-items: center;
  padding-top: 0;
}

.block video {
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
}

.block h1 {
  text-transform: lowercase;
  font-size: 60pt;
  margin-bottom: 0;
  color: white;
  letter-spacing: 0.15em;
}

.block h1 {
  text-align: center;
}

.block h2 {
  font-family: $body-font;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 18pt;
  margin-top: 0;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: lowercase;
}

.page-buttons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
  word-wrap: none;
}

.page-buttons a:hover {
  transform: scale(1.07, 1.07);
  transition: all 0.5s ease-in;
}

.page-buttons a, a.email-link, a.page-button {
  transition: all 0.5s ease-out;
  position: relative;
  top: 0px;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin: 20px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-family: $header-font;
  font-weight: 200;
  display: inline-block;
  width: 12em;
}

.summary a.email-link {
  position: absolute;
  display: block;
  text-align: center;
  left: 30px;
  top: auto;
  bottom: 0px;
  margin: 0px;
  width: 16em;
  font-size: 13px;
}

.page-buttons .separator {
  display: none;
}

.footer, .footer a {
  font-family: sans-serif;
  color: #949494;
}

/* "hamburger" menu */
#nav-menu {
  font-family: $header-font;
  font-size: 14px;
  position: absolute;
  right: 60px;
  top: 20px;
  color: white;
}

#nav-menu img {
  vertical-align: baseline;
}

#nav-menu a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.hamburger {
  position: fixed; 
  right: 20px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
  width: 30px;
  z-index: 2;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: white;
}

ul.menu > li > a {
  text-transform: uppercase;
  margin: 0px;
}

ul.menu {
  position: relative;
}

ul.menu li {
  position: relative;
  display: inline;
  list-style-type: none;
  padding-left: 1em;
}

.mast {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100vh;
  width: 360px;
  padding-bottom: 8rem;
  letter-spacing: 0.10em;
}

.mast img {
  width: 360px;
  height: auto;
  margin-bottom: 2rem;
}

.mast h1, 
.mast h2 {
  font-weight: 300;
}

.mast h1, .mast h1 small {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 20px;
}

.mast h2 {
  font-size: 15px;
}

.mast h1 small {
  font-size: 1.6rem;
  color: white;
}

.mast a {
  font-family: $header-font;
  text-decoration: none;
  color: white;
}

.mast .mission-statement,
.mast .special-info {
  color: white;
  font-weight: 200;
  font-size: 13px;
}

.mast .mission-statement {
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mast .special-info {
  padding-top: 20px;
  font-family: $header-font;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------- */
/* detail pages 
/* ------------------------------------------------------------------------- */

.summary {
  border-left: 4px solid black;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}

.summary h3 {
  font-style: italic;
}

.desktop-image {
  width: 100%;
  height: auto;
}

.generic-header {
  width: 100%;
  height: 400px;
  background-color: #1e1e1e;
  background-image: linear-gradient(45deg, #1e1e1e 0%, #089c39 100%);
}

.image-shader {
  width: 100%;
  height: 75px;
  background-color: #404040;
  top: 0px;
  left: 0px;
}

.mobile-image {
  height: 50vh;
  background-size: cover;
  background-position: center center;
}

.header {
  text-align: center;
  margin-bottom: 50px;
  z-index: -1;
  position: absolute;
}

.header-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-content > div {
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  text-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  margin: 0px;
  color: white;
  text-transform: lowercase;
  text-align: center;
  display: block;
}

.header .subtitle {
  font-style: italic;
  color: white;
  font-size: 20pt;
  display: block;
}

.detail {
  margin-bottom: 20px;
}

.detail-container h1 {
  text-align: center;
  font-family: $body-font;
  letter-spacing: 0.2em;
  font-style: italic;
}

.detail-container .text-center {
  font-family: $header-font;
  font-weight: 300;
}

.detail .photo, .header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.detail .photo {
  margin-left: -15px;
  max-width: 100%;
  height: auto;
}
  
.detail .content {
  padding-bottom: 20px;
}

.detail .email-link, a.page-button {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 4px solid black;
  text-transform: uppercase;
  padding: 5px;
  color: #404040;
}

ul.footer-menu {
  text-transform: uppercase;
  margin-bottom: 2em;
  margin-left: 0px;
  padding-left: 0px;
}

ul.footer-menu li {
  list-style-type: none;
  display: inline-block;
  padding-right: 0.5em;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
}

ul.footer-menu .sub-menu {
  padding-left: 0px;
}

ul.footer-menu ul li {
  text-transform: none;
  font-weight: normal;
  display: block;
  padding-inline-start: 0;
}

.img-full {
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gallery, .gallery p {
  line-height: 1.2em;
}

.tight-header {
  display: inline-block;
  margin-right: 10px;
}

.soap-header {
  margin-bottom: 0;
}

.church-online-container {
  padding-bottom: 56.25%;
  overflow: hidden;
  background-color: #303030;
  position: relative;
}

.church-online {
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.church-online a[role="button"] {
  background-color: #FFFFFF;
  color: #000000;
  width: 210px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  text-transform: uppercase;
  font-family: $header-font;
  letter-spacing: 0.05em;
  font-size: 18px;
  display: inline-block;
}

.content-body img {
  max-width: 100%;
}

.podcast-links {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 80px;
  line-height: 200%;
  text-align: center;
}

.podcast-links a {
  white-space: nowrap;
}

// Hero section styling
.hero-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 8rem;
  font-size: medium;
}

.hero-section .followup-link {
  color: black;
  text-decoration: none;
  display: block;
  margin-top: 2rem;
  font-weight: bold;
}

.hero-section .card {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.hero-section .card-title {
  font-size: large;
}

.row.header-row {
  margin-bottom: 3rem;
}

.hero-image-container {
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero-text {
  padding: 1.5rem;
  
  h2 {
    margin-bottom: 1rem;
  }
  
  p {
    line-height: 1.6;
  }
}

.hero-content-box {
  background: white;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: fit-content;
  max-width: 100%;
}

// Tablet layout - reduce wasted space
@media (min-width: 768px) and (max-width: 1199px) {
  .hero-image-container {
    height: 400px;
  }
  
  .hero-text {
    display: flex;
    align-items: center;
  }
  
  .hero-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .hero-content-box {
    padding: 2rem;
    width: 100%;
  }
}

// Large desktop - full height
@media (min-width: 1200px) {
  .hero-image-container {
    height: 600px;
  }
  
  .hero-text {
    display: flex;
    align-items: center;
    min-height: 600px;
  }
}

// Mobile specific styling (stacked layout)
@media (max-width: 767px) {
  .hero-section {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .hero-image {
    margin-bottom: 0;
  }
  
  .hero-image-container {
    height: auto;
    min-height: 300px;
    margin-bottom: 1rem;
  }
  
  .hero-text {
    min-height: auto;
    display: block;
    padding: 0;
    margin-bottom: 2rem;
  }
  
  .hero-content-box {
    width: 100%;
    padding: 2rem;
  }
}

// Hero section button styles
.hero-section {
  .btn-primary {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 12px 28px;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: #333333;
      color: #ffffff;
      text-decoration: none;
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
    
    &:active, &:focus {
      background-color: #000000;
      color: #ffffff;
      outline: none;
    }
  }
  
  .btn:not(.btn-primary), .btn-outline-primary {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 12px;
    padding: 12px 28px;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: #f8f8f8;
      color: #000000;
      text-decoration: none;
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
    
    &:active, &:focus {
      background-color: #ffffff;
      color: #000000;
      outline: none;
    }
  }
  .hero-buttons {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

@import 'events';
@import 'beliefs';
@import 'messages';
@import 'menu';
@import 'livestream';
@import 'calendar';

@import 'mobile';
@import 'desktop';
@import 'collapsible';

