  $body-font: Baskerville, Libre Baskerville, serif;
  $header-font: Montserrat, sans-serif;
  
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

@font-face {
  font-family: "Montserrat";
  src: url('../css/fonts/Montserrat-ExtraLight-webfont.woff') format('woff');
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url('../css/fonts/Montserrat-Regular-webfont.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url('../css/fonts/Montserrat-Bold-webfont.woff') format('woff');
  font-weight: 700;
}

body {
  background-color: white;
  font-family: $body-font;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  color: #303030;
}

h1, h2 {
  font-family: $header-font;
}

audio {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.splash {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.splash video {
  width: auto; 
  height: auto; 
  min-width: 100%; 
  min-height: 100%; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

.home-logo, .menu-logo {
  position: absolute;
  top: 20px;
  left: 60px;
}

.home-logo img, .menu-logo img {
  width: 38px;
}

.menu-logo {
  display: none;
}

.splash-footer {
  margin-bottom: 30px;
}

.splash-footer p {
  font-family: $header-font;
  font-weight: 300;
  font-size: 18px;
}

.splash-footer a {
   color: black;
}

.footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}

.footer a {
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: none;
}

.footer a.social {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer a.social-facebook {
  background-image: url(../img/social-facebook.png);
}

.footer a.social-facebook:hover {
  background-image: url(../img/social-facebook-on.png);
}

.footer a.social-twitter {
  background-image: url(../img/social-twitter.png);
}

.footer a.social-twitter:hover {
  background-image: url(../img/social-twitter-on.png);
}

.footer a.social-mail {
  background-image: url(../img/social-mail.png);
}

.footer a.social-mail:hover {
  background-image: url(../img/social-mail-on.png);
}

.footer a.social-instagram {
  background-image: url(../img/social-instagram.png);
}

.footer a.social-instagram:hover {
  background-image: url(../img/social-instagram-on.png);
}

.footer .copyright {
  font-family: $header-font;
  font-size: 10px;
  margin-top: 2em;
}

.block {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 35vh;
  letter-spacing: 0.2em;
}

.block h1 {
  text-transform: lowercase;
  font-size: 60pt;
  margin-bottom: 0;
  color: white;
  letter-spacing: 0.15em;
}

.block h1 {
  text-align: center;
}

.block h2 {
  font-family: $body-font;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 18pt;
  margin-top: 0;
  font-weight: 300;
  letter-spacing: normal;
  text-transform: lowercase;
}

.page-buttons {
  padding-top: 7rem;
  padding-bottom: 7rem;
  text-align: center;
  word-wrap: none;
}

.page-buttons a:hover {
  transform: scale(1.07, 1.07);
  transition: all 0.5s ease-in;
}

.page-buttons a, a.email-link, a.page-button {
  transition: all 0.5s ease-out;
  position: relative;
  top: 0px;
  text-decoration: none;
  border-bottom: 2px solid white;
  margin: 20px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-family: $header-font;
  font-weight: 200;
  display: inline-block;
  width: 12em;
}

.summary a.email-link {
  position: absolute;
  display: block;
  text-align: center;
  left: 30px;
  top: auto;
  bottom: 0px;
  margin: 0px;
  width: 16em;
  font-size: 13px;
}

.page-buttons .separator {
  display: none;
}

.footer, .footer a {
  font-family: sans-serif;
  color: #949494;
}

/* "hamburger" menu */
#nav-menu {
  font-family: $header-font;
  font-size: 14px;
  position: absolute;
  right: 60px;
  top: 20px;
  color: white;
}

#nav-menu img {
  vertical-align: baseline;
}

#nav-menu a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.hamburger {
  position: fixed; 
  right: 20px;
  top: 0px;
  padding: 20px;
  cursor: pointer;
  width: 30px;
  z-index: 2;
}

.hamburger .line {
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: white;
}

ul.menu > li > a {
  text-transform: uppercase;
  margin: 0px;
}

ul.menu {
  position: relative;
}

ul.menu li {
  position: relative;
  display: inline;
  list-style-type: none;
  padding-left: 1em;
}

.mast {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100vh;
  width: 360px;
  padding-bottom: 8rem;
  letter-spacing: 0.10em;
}

.mast img {
  width: 360px;
  height: auto;
  margin-bottom: 2rem;
}

.mast h1, 
.mast h2 {
  font-weight: 300;
}

.mast h1, .mast h1 small {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  font-size: 20px;
}

.mast h2 {
  font-size: 15px;
}

.mast h1 small {
  font-size: 1.6rem;
  color: white;
}

.mast a {
  font-family: $header-font;
  text-decoration: none;
  color: white;
}

.mast .mission-statement,
.mast .special-info {
  color: white;
  font-weight: 200;
  font-size: 13px;
}

.mast .mission-statement {
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mast .special-info {
  padding-top: 20px;
  font-family: $header-font;
  text-transform: uppercase;
}

/* ------------------------------------------------------------------------- */
/* detail pages 
/* ------------------------------------------------------------------------- */

.summary {
  border-left: 4px solid black;
  padding-left: 30px;
  position: relative;
  overflow: hidden;
}

.summary h3 {
  font-style: italic;
}

.desktop-image {
  width: 100%;
  height: auto;
}

.image-shader {
  width: 100%;
  height: 75px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 100%);
  position: absolute;
  top: 0px;
  left: 0px;
}

.mobile-image {
  height: 50vh;
  background-size: cover;
  background-position: center center;
}

.header {
  text-align: center;
  margin-bottom: 50px;
  z-index: -1;
  position: absolute;
}

.header-content {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-content > div {
  margin-left: auto;
  margin-right: auto;
}

.header h1 {
  text-shadow: 0px 0px 25px rgba(0,0,0,0.5);
  margin: 0px;
  color: white;
  text-transform: lowercase;
  text-align: center;
  display: block;
}

.header .subtitle {
  font-style: italic;
  color: white;
  font-size: 20pt;
  display: block;
}

.detail {
  margin-bottom: 20px;
}

.detail-container h1 {
  text-align: center;
  font-family: $body-font;
  letter-spacing: 0.2em;
  font-style: italic;
}

.detail-container .text-center {
  font-family: $header-font;
  font-weight: 300;
}

.detail .photo, .header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.detail .photo {
  margin-left: -15px;
  width: 100%;
  height: auto;
}
  
.detail .content {
  padding-bottom: 20px;
}

.detail .email-link, a.page-button {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 4px solid black;
  text-transform: uppercase;
  padding: 5px;
  color: #404040;
}

ul.footer-menu {
  text-transform: uppercase;
  margin-bottom: 2em;
  margin-left: 0px;
  padding-left: 0px;
}

ul.footer-menu li {
  list-style-type: none;
  display: inline-block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
  letter-spacing: 0.15em;
  font-size: 14px;
}

.img-full {
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gallery, .gallery p {
  line-height: 1.2em;
}

.tight-header {
  display: inline-block;
  margin-right: 10px;
}

.soap-header {
  margin-bottom: 0;
}

.church-online {
  position: absolute;
  z-index: 10;
  top: 80vh;
  text-align: center;
  width: 100%;
}

@import 'events';
@import 'beliefs';
@import 'messages';
@import 'menu';
@import 'livestream';

@import 'mobile';
@import 'desktop';
@import 'collapsible';

