
@media screen and (min-width: 768px) {

  body {
    font-size: 20px;
  }

  .header h1 {
    font-size: 54pt;
    letter-spacing: 0.15em;
  }

  ul.menu {
    margin-top: 10px;
    white-space: nowrap;
  }

  ul.menu li {
    padding-left: 16px;
  }

  ul.menu ul li {
    padding-left: 0px;
  }

  ul.menu li.open {
    background-color: transparent;
  }

  /* Animated underline for top-level menu items */
  ul.menu li.menu-hover > a {
    position: relative;
    display: inline-block;
  }

  ul.menu li.menu-hover > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #505050;
    transition: width 0.3s ease;
  }

  ul.menu li.menu-hover.open > a::after {
    width: 100%;
  }

  #nav-menu ul.menu li.open a {
    color: #505050;
  }

  #nav-menu ul.menu li.open ul a {
    transition: background-color 0.3s ease;
    display: block;
    color: #404040;
    margin-bottom: 0px;
    padding: 10px 25px;
  }

  #nav-menu ul.menu li.open ul a:hover {
    color: white;
    background-color: #000000;
    transition: background-color 0.3s ease;
  }

  #nav-menu ul.menu li.open ul li:hover a {
    color: white;
  }

  ul.menu li.open ul {
    position: absolute;
    left: 0px;
    top: 100%;
    margin-top: 8px;
    min-width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: white;
  }

  ul.menu li.open ul li {
    display: block;
  }

  .navigation {

    .hamburger {
      display: none;
    }

    .mobile-menu-footer {
      display: none;
    }
  }

  .desktop-expand {
    display: inline;
  }

  .detail-summary {
    height: 100%;
  }

  .detail .summary {
    height: 100%;
  }

  .mobile-image {
    display: none;
  }

  img.series-image {
    width: 100%;
    height: auto;
  }

  img.img-partial {
    max-width: 50%;
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

/* desktop wide */
@media screen and (min-width: 992px) {

  .series {
    margin: 15px;
    float: left;
  }

  .series-list {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  img.series-image {
    width: 420px;
    height: 236px;
  }
}

/* desktop extremely very wide */
@media screen and (min-width: 1500px) {

  .series-list {
    width: 1400px;
  }
}
