.event {
  background-color: #000000;
  align-items: center;
  display: flex;
  color: white;
  position: relative;
  margin-left: -15px;
}

.event h2 {
  display: none;
}

img.event-image {
  width: 100%;
  height: auto;
}

.event-details {
  margin-bottom: 5em;
}

.event-details h1 {
  font-family: $header-font;
  letter-spacing: normal;
  text-align: left;
  font-style: normal;
}

.event-details h2 {
  font-weight: 300;
}

.event-details h3 {
  font-family: $header-font;
  font-weight: bold;
}

.event-details table td,
.event-details table th
{
  padding: 4px;
}

.event-details p
{
  font-weight: 300;
}

.event-when {
  background-color: #f0f0f0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.event-when .month {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.event-when .day {
  font-size: 40px;
  text-align: center;
}

.event-when .weekday {
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
}

.event-details .button {
  background-color: #343434;
  color: #f0f0f0;
  display: inline-block;
  padding: 1em;
  border-radius: 5px;
  font-family: $header-font;
  margin-top: 1em;
}