
.message {

  padding-bottom: 50px;

  h2 {
    margin-bottom: 0;
  }

  h2 a {
    color: #404040;
  }

  h3, h4 {
    margin-top: 15px;
    color: #909090;
    font-style: italic;
  }

  h4 {
    font-size: 22px;
  }
}

.message-details h4 {
  color: #707070;
}

.message-details h3 {
  text-transform: uppercase;
  color: #a4846f;
  font-family: "Montserrat";
}

.message p, 
.message-details p {
  margin-top: 25px; 
  margin-bottom: 25px; 
}

.message-details audio {
  margin-bottom: 50px;
}

.message-video-16-9 {
  overflow: hidden;
  height: 0;
  padding-top: 56.25%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.series-placeholder {
  background-color: #1e1e1e;
  background-image: linear-gradient(45deg, #1e1e1e 0%, #089c39 100%);
  width: 420px;
  height: 236px;
  display: flex;
  align-items: center;
}


.series-placeholder .series-title {
  color: #f0f0ff;
  font-family: $header-font;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  text-transform: lowercase;
}

