<h2 class="header-link"><a href="https://www.youtube.com/watch?v={{ .Params.youtube_id }}">{{ .Title }}</a></h2>
<h4>{{ .Date.Format "Monday, January 2, 2006" }}</h4>

{{ if isset .Params "youtube_id" }}
  <div class="message-video-16-9">
    <iframe class="youtube" src="https://www.youtube.com/embed/{{ .Params.youtube_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
{{ end }}

<p>{{ .Content }}</p>

<p>&nbsp;</p>