<div class="row detail">
  <div class="col-sm-7 col-md-7">
    <div class="photocell">
      {{ $img := $.Page.Resources.GetMatch "photo" }}
      <img class="photo" src="{{ $img.RelPermalink }}">
    </div>
  </div>
  <div class="col-sm-5 col-md-5 detail-summary">
    <div class="summary">
      <h2>{{ .Title }}</h2>
      <h3>{{ .Params.position }}</h3>
      <div class="content">
        {{ .Content }}
      </div>
      {{ if .Params.email }}
        <a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a>
      {{ end }}
    </div>
  </div>
</div>


