
<div class="row">
  <div class="event-when col-sm-12 col-md-2 text-right">
    <div class="month">{{ dateFormat "January" .Params.date }}</div>
    <div class="day">{{ dateFormat "02" .Params.date }}</div>
    <div class="weekday">{{ dateFormat "Monday" .Params.date }}</div>
  </div>
  <div class="event-details col-sm-12 col-md-8 col-sm-offset-0">
    <h1 class="mt-0 pt-0">{{ .Title }}</h1>
    {{ .Content }}
    {{ if .Params.button_text }}
      {{ if .Params.button_link }}
        <a class="button" href="{{ .Params.button_link }}">{{ .Params.button_text }}</a>
      {{ end }}
    {{ end }}
  </div>
</div>
