
<div class="row detail">
  <div class="col-md-8">
    <div class="photocell">
      <div class="photo" style="background-image: url({{ .Site.BaseURL }}img/{{ .Params.image }})">
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="summary">
      <h2>{{ .Title }}</h2>
      <h3>Leader: {{ .Params.leader }}</h3>
      <div class="content">
        {{ .Content }}
      </div>
      <a class="email-link" href="mailto:{{ .Params.email }}">Email {{ .Params.leader }}</a>
    </div>
  </div>
</div>

